<!DOCTYPE html>
<head>
  <title> Camilla's world </title>
  <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<div id='menu_container'>
  <div id='cssmenu'>
      <ul>
       <li {% if fuoco=="Home" %} class='active' {% endif %} ><a href="{{ url_for('show_entries') }}"><span>Home</span></a></li>
       <li {% if fuoco=="Foto" %} class='active' {% endif %} ><a href="{{ url_for('show_foto') }}"><span>Foto</span></a></li>
       <li {% if fuoco=="About" %} class='active' {% endif %} ><a href="{{ url_for('show_about') }}"><span>About</span></a></li>
       <li class='last {% if fuoco=="Contatti" %} active {% endif %}'><a href="{{ url_for('show_contatti') }}"><span>Contatti</span></a></li>
      </ul>
  </div>
</div>

<div class=page>
 
  <h1> <a href="/"> Il mondo di Camilla </a> </h1>
  
  <div class=metanav>
  {% if session.logged_in %} {# add "not" after "if" if you want the login and-->
    <a href="{{ url_for('login') }}">log in</a>
  {% else %} #}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>


