<!DOCTYPE html>
<head>
    <!-- Script di TinyMCE CDN hosted by Cachefly -->
  <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
  <script>
          tinymce.init({selector:'textarea'});
  </script>
  
  <!-- Google analytics tracking code -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46086501-1', 'hacking.io');
  ga('send', 'pageview');
  </script>
  
  <title> Statisticamente un gatto </title>
  <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>


<div class=contenitore>
  <div class=page>
    
    <div id='cssmenu'>
      <ul>
       <li {% if fuoco=="Home" %} class='active' {% endif %} ><a href="{{ url_for('show_entries') }}"><span>Home</span></a></li>
       <li {% if fuoco=="Foto" %} class='active' {% endif %} ><a href="{{ url_for('show_foto') }}"><span>Foto</span></a></li>
       <li {% if fuoco=="About" %} class='active' {% endif %} ><a href="{{ url_for('show_about') }}"><span>About</span></a></li>
       <li class='last {% if fuoco=="Contatti" %} active {% endif %}'><a href="{{ url_for('show_contatti') }}"><span>Contatti</span></a></li>
      </ul>
  </div>
   
    <h1> <a href="/"> Statisticamente un gatto </a> </h1>
    
    <div class=metanav>
    {% if session.logged_in %} {# add "not" after "if" if you want the login and-->
      <a href="{{ url_for('login') }}">log in</a>
    {% else %} #}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>
</div>

